openapi: 3.1.0
info:
  title: Kordio Ledger API
  version: "v1"
  summary: Double-entry ledger as a service.
  description: |
    A double-entry ledger you can call over HTTP. Every write balances
    per currency, is idempotent by client key, and is append-only.
    Corrections are reversal transactions, not edits.

    This is one of two APIs on `api.kordio.io`. The other is the
    [spend control API](https://docs.kordio.io/agents/api-reference/introduction),
    which governs what AI agents may spend. They share a host and nothing else:
    different credentials, different envelopes, different pagination.

    New here? Start with the
    [ledger quickstart](https://docs.kordio.io/ledger/quickstart).

    ### Response envelope

    Every successful response is shaped as:

    ```json
    { "data": { "object": "<type>", ... }, "livemode": false, "request_id": "req_..." }
    ```

    Lists are flat (Stripe convention):

    ```json
    { "object": "list", "data": [...], "has_more": false, "next_cursor": null,
      "livemode": false, "request_id": "req_..." }
    ```

    Errors:

    ```json
    { "error": { "code": "...", "message": "...", "hint": "...", "docs_url": "...",
                 "request_id": "req_..." },
      "livemode": false, "request_id": "req_..." }
    ```

    `request_id` is also returned on the `X-Request-Id` header.

    ### Modes

    Each OAuth client is registered as `test` or `live`. The mode is
    encoded into the token and surfaced as the top-level `livemode`
    boolean on every response. Test and live datasets are operationally
    distinct: no `?test=true` flag, no leakage.

    ### Idempotency

    Required on writes. Same `(ledger_id, Idempotency-Key)` always
    returns the original transaction, forever. Header or body, your
    choice. Header wins if both are present.

    ### Rate limits

    Limits are enforced per credential, separately for reads and
    writes: 100 reads per second and 20 writes per second. A request
    over the limit is rejected with `429`, the standard error envelope
    with code `rate_limited`, and a `Retry-After` header giving the
    number of seconds to wait.

    ### Size limits

    A transaction carries at most 250 postings. An atomic bulk batch
    carries at most 250 postings across all of its transactions.

    ### Ledger selection

    Every ledger-scoped endpoint (everything under `/v1/` except
    `/v1/ledgers`, `/v1/organizations`, and the OAuth endpoints) needs
    to know which ledger to operate on. The ledger is resolved from,
    in order: the access token's `ledger_id` claim, the `X-Ledger-Id`
    request header, or a `ledger_id` parameter. With none of these, the
    default ledger for the client's mode is used. List your ledgers via
    `GET /v1/ledgers`.
  contact:
    name: Kordio engineering
    email: support@kordio.io
    url: https://docs.kordio.io
  license:
    name: Proprietary
    url: https://kordio.io/terms-and-conditions

servers:
  - url: https://api.kordio.io
    description: Production
  - url: http://localhost:3005
    description: Local development

security:
  - oauth2_read: [ledger:read]
  - oauth2_write: [ledger:write]

tags:
  - name: Authentication
    description: |
      OAuth 2.0 client_credentials. Every machine call needs a Bearer
      token; humans get one through the dashboard, services mint their
      own.
  - name: Accounts
    description: |
      Named buckets of value. Caller-chosen IDs (`cash:usd`,
      `accounts_receivable:acme`, `revenue:subscriptions`), caller-chosen
      currencies (`USD`, `USDC`, `BTC`, `POINTS`, anything goes), one of
      five accounting types.
  - name: Transactions
    description: |
      Balanced sets of postings. The unit of mutation. Reverse with
      `POST /v1/transactions/:id/reverse`; mutate `metadata` only with
      `PATCH`.
  - name: Postings
    description: |
      The atomic ledger entry. Always part of a transaction, never
      created or modified standalone.
  - name: Events
    description: |
      The audit trail of every state-changing operation. The same
      events are delivered by your workspace's Kordio webhooks.
  - name: Reports
    description: |
      Read-only financial reports. Trial balance for tenant health,
      per-account statement for a period, point-in-time balance via
      `?at=<ts>` on the balance endpoint. The four `/v1/reports/*`
      endpoints answer CSV when sent `Accept: text/csv`.
  - name: Periods
    description: |
      Close and reopen accounting periods. A closed period rejects new
      postings whose `value_date` falls inside it, enforced both at
      the application layer and at the database via trigger.
  - name: Ledgers
    description: |
      A ledger is a single namespace of accounts, transactions, and
      postings, bound to one mode (test/live). Most resources are
      scoped to a ledger.
  - name: Organizations
    description: |
      Top-level tenant container. Owns ledgers, members, invitations.
      Org-scoped endpoints don't require `X-Ledger-Id`.
  - name: System
    description: Metadata and discovery.

components:

  securitySchemes:
    oauth2_read:
      type: oauth2
      description: |
        OAuth 2.0 client_credentials grant. Send `client_id:client_secret`
        as HTTP Basic, or as form fields. Tokens are HS256 JWTs valid for
        one hour (configurable). Decode them at jwt.io.
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            ledger:read: Read accounts, balances, transactions, postings, events
            ledger:clients:read: List and inspect OAuth clients (no secrets)
    oauth2_write:
      type: oauth2
      description: Same flow; `ledger:write` is required for any mutation.
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            ledger:write: Create / patch / reverse / commit transactions and accounts
            ledger:period_close: Close and reopen accounting periods
            ledger:clients:write: Create, rotate and delete OAuth clients

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 255
        pattern: "^[A-Za-z0-9_:.\\-]+$"
        example: pi_acme_1234_capture
      description: |
        Required on writes. Stable identifier you choose. The same key
        always returns the same transaction, forever. Can also be supplied as
        `idempotency_key` in the request body. Header wins.

        Allowed character set: `A-Z`, `a-z`, `0-9`, `_`, `:`, `.`, `-`.
        Max 255 bytes. Replays of an accepted key return the original
        response with header `Idempotent-Replayed: true` so callers can
        tell a replay from a freshly-committed result.

    LedgerId:
      name: X-Ledger-Id
      in: header
      required: false
      schema: { type: string, format: uuid }
      description: |
        Identifies the ledger the request operates on. Required for all
        ledger-scoped endpoints (everything except `/v1/ledgers`,
        `/v1/organizations`, and OAuth). May also be carried as a
        `ledger_id` claim in the access token. When both are present
        the token claim wins. The ledger's mode (test/live) determines
        the response `livemode`.

    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: |
        Opaque token from a prior page's `next_cursor`. Do not decode or
        construct cursors client-side; their encoding is implementation
        detail and may change between releases. Cursors are stable for
        the resources they reference (a cursor pointing at a deleted /
        archived resource still paginates correctly. It points at a
        position, not at a row). No documented TTL; treat cursors as
        valid until the next forward-incompatible API change.

    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, default: 50, minimum: 1, maximum: 200 }

    ReportFrom:
      name: from
      in: query
      required: false
      schema: { type: string, format: date-time }
      description: Inclusive lower bound on `value_date`. Omit to start at the beginning of the ledger.
      example: "2026-04-01T00:00:00Z"

    ReportTo:
      name: to
      in: query
      required: false
      schema: { type: string, format: date-time }
      description: Exclusive upper bound on `value_date`. Defaults to now.
      example: "2026-05-01T00:00:00Z"

    Granularity:
      name: granularity
      in: query
      required: false
      schema: { type: string, enum: [day, week, month] }
      description: |
        Adds a `series` of per-period buckets. Requires both `from` and
        `to`. At most 400 buckets.

    Expand:
      name: expand
      in: query
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum: [postings.account, balances]
      description: |
        Comma-separated. `postings.account` inlines each posting's
        account object; `balances` adds the post-commit balance of every
        touched account.

  responses:
    Error:
      description: Error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          examples:
            default:
              value:
                error:
                  code: not_found
                  message: account not found
                  param: id
                  docs_url: https://docs.kordio.io/ledger/errors#not_found

    Unbalanced:
      description: The transaction does not balance per currency.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          examples:
            default:
              value:
                error:
                  code: unbalanced
                  message: debits and credits must net to zero per currency
                  hint: "USDC: add 9700 of credits or remove 9700 of debits"
                  details:
                    by_currency: { USDC: "9700" }
                  docs_url: https://docs.kordio.io/ledger/errors#unbalanced

    Immutable:
      description: A non-metadata field cannot be updated.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          examples:
            default:
              value:
                error:
                  code: immutable_field
                  message: field cannot be updated
                  param: postings
                  hint: only metadata is mutable; write a reversal to undo a transaction
                  docs_url: https://docs.kordio.io/ledger/errors#immutable_field

    InsufficientScope:
      description: The token is valid but lacks the scope this endpoint needs.
      headers:
        WWW-Authenticate:
          schema: { type: string }
          example: 'Bearer error="insufficient_scope", scope="ledger:write"'
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          examples:
            default:
              value:
                error:
                  code: insufficient_scope
                  message: this endpoint requires the 'ledger:write' scope
                  hint: request a token with `scope=ledger:write` from POST /oauth/token
                  docs_url: https://docs.kordio.io/ledger/errors#insufficient_scope

  schemas:

    # Inner-resource discriminator. Every resource carries `object` (Stripe
    # convention). The wire envelope adds `livemode` and `request_id` at
    # the top level (see `Envelope` and `ListEnvelope` below).
    EnvelopeFields:
      type: object
      properties:
        object:
          type: string
          description: Discriminator naming the shape of this resource (e.g. `account`, `transaction`).
          example: account

    # Single-resource response envelope.
    Envelope:
      type: object
      required: [data, livemode, request_id]
      properties:
        data:
          type: object
          description: The resource. Inspect `data.object` for its type.
        livemode:
          type: boolean
          description: True when the resolved ledger is live. Derived from the access token's ledger claim.
          example: false
        request_id:
          type: string
          description: |
            Echoes the `X-Request-Id` response header. Include in support
            tickets so we can find the exact request.
          example: req_3LhM8XKx9q4hQv

    # Cursor-paginated list envelope. Pagination meta is flat at the top
    # level (Stripe convention) so auto-paginating SDKs don't have to peek
    # under nested keys.
    ListEnvelope:
      type: object
      required: [object, data, has_more, livemode, request_id]
      properties:
        object: { type: string, enum: [list] }
        data:
          type: array
          items: { type: object }
        has_more: { type: boolean }
        next_cursor: { type: string, nullable: true }
        total:
          type: integer
          nullable: true
          description: Present only when the caller passed `?include_total=true`.
        livemode: { type: boolean, example: false }
        request_id: { type: string, example: req_3LhM8XKx9q4hQv }

    AccountInput:
      type: object
      required: [id, type, currency, name]
      properties:
        id:
          type: string
          description: |
            Caller-chosen string. Stable; cannot be renamed. Unique
            within your tenant. Convention: `<purpose>:<scope>` (e.g.
            `accounts_receivable:acme`).
          example: accounts_receivable:acme
          pattern: '^[a-zA-Z0-9_:.\-]+$'
        name:
          type: string
          example: Acme payable
        type:
          type: string
          enum: [asset, liability, revenue, expense, equity]
          example: liability
        currency:
          type: string
          description: |
            ISO 4217 fiat ticker, crypto/token symbol, or any string of
            your own (`POINTS`, `GIFT_CARD`). Pinned per account; cannot
            be changed. Normalized to uppercase when ticker-shaped.
          example: USDC
        overdraft_policy:
          type: string
          enum: [allowed, none]
          default: allowed
          description: |
            `allowed` lets the account go to any balance. `none` rejects
            any posting that would take `available` (posted minus pending
            outflows; pending inflows never count) below
            `-overdraft_limit`. A rejected write returns
            `insufficient_funds`.
        overdraft_limit:
          type: string
          description: |
            Maximum negative-balance allowance, in minor units. Stored
            as `numeric(38, 0)`. Returned as a JSON string for amounts
            beyond JavaScript's safe-integer range.
          example: "0"
        fund_classification:
          type: string
          enum: [client_held, operator, neutral]
          description: |
            Optional funds-segregation grouping. Defaults to `neutral`
            when omitted, or inherits the account's template value.
        custody_provider:
          type: string
          description: |
            Optional custody-system identifier. Paired with
            `custody_external_id`: both or neither.
          example: fireblocks
        custody_external_id:
          type: string
          description: Provider-specific identifier; paired with `custody_provider`.
          example: vault_42
        template:
          type: string
          description: |
            Name of an account template. The template's type, allowed
            currencies and defaults are applied before insert.
          example: accounts_receivable
        parent_id:
          type: string
          description: Id of a parent account. Used by `GET /v1/accounts/:id/category_balance`.
          example: accounts_receivable
        ledgerable_type:
          type: string
          description: Type of the object in your system this account belongs to. Paired with `ledgerable_id`.
          example: merchant
        ledgerable_id:
          type: string
          description: Id of the object in your system. Paired with `ledgerable_type`.
          example: acme
        metadata:
          type: object
          additionalProperties: true
          example:
            counterparty: acme
            tier: standard

    Account:
      allOf:
        - $ref: "#/components/schemas/EnvelopeFields"
        - type: object
          required: [object, id, type, currency]
          properties:
            object: { type: string, enum: [account] }
            id: { type: string, example: accounts_receivable:acme }
            name: { type: string, example: Acme payable }
            type:
              type: string
              enum: [asset, liability, revenue, expense, equity]
              example: liability
            currency: { type: string, example: USDC }
            currency_decimals:
              type: integer
              nullable: true
              description: 6 for USDC, 8 for BTC, 18 for ETH; `null` for unknown.
              example: 6
            currency_kind:
              type: string
              nullable: true
              enum: [fiat, crypto, stablecoin, null]
              example: stablecoin
            unknown_currency:
              type: boolean
              description: True if `currency` isn't in our metadata registry. The ledger still works.
              example: false
            overdraft_policy:
              type: string
              enum: [allowed, none]
              example: allowed
            overdraft_limit:
              type: string
              description: Numeric string. Always nonneg.
              example: "0"
            account_kind:
              type: string
              enum: [standard, restricted]
              default: standard
              description: |
                `restricted` marks accounts held against a counterparty.
                Accounts created through this API are `standard`.
            counterparty_ref:
              type: string
              nullable: true
              description: Opaque identifier of the counterparty a `restricted` account is held against.
              example: acme
            fund_classification:
              type: string
              enum: [client_held, operator, neutral]
              default: neutral
              description: |
                Customer-set grouping. The platform stores it and filters
                on it; it does not interpret it. Inherited from the
                account's template when omitted on create.
            custody_provider:
              type: string
              nullable: true
              description: |
                Opaque custody-system identifier (e.g. `fireblocks`,
                `anchorage`). Paired with `custody_external_id`: both
                set or both null.
              example: fireblocks
            custody_external_id:
              type: string
              nullable: true
              description: |
                Provider-specific identifier (vault id, account id, etc.).
                Paired with `custody_provider`.
              example: vault_42
            template: { type: string, nullable: true, description: Template the account was created from. }
            parent_id: { type: string, nullable: true }
            ledgerable_type: { type: string, nullable: true }
            ledgerable_id: { type: string, nullable: true }
            lock_version:
              type: integer
              description: Increments on every change. Use it in transaction `conditions` for optimistic concurrency.
            status: { type: string, enum: [open, closed] }
            closed_at: { type: string, format: date-time, nullable: true }
            closed_by_label: { type: string, nullable: true }
            metadata: { type: object, additionalProperties: true }
            created_at: { type: string, format: date-time, example: "2026-05-14T10:23:45.123456Z" }

    AccountStatement:
      type: object
      required: [object, account, currency, period, opening_balance, closing_balance, entries, entry_count, truncated]
      properties:
        object: { type: string, enum: [account_statement] }
        account: { type: string, example: cash:usd }
        currency: { type: string, example: USDC }
        period:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time, nullable: true }
            to: { type: string, format: date-time }
        opening_balance: { $ref: "#/components/schemas/StatementBalance" }
        closing_balance: { $ref: "#/components/schemas/StatementBalance" }
        entries:
          type: array
          items: { $ref: "#/components/schemas/Posting" }
        entry_count: { type: integer }
        truncated:
          type: boolean
          description: True when the period held more entries than `limit` returned.

    StatementBalance:
      type: object
      required: [posted, pending, currency]
      properties:
        posted: { type: string, pattern: '^-?\d+$' }
        pending: { type: string, pattern: '^-?\d+$' }
        currency: { type: string }

    ReportAccountRow:
      type: object
      required: [account, name, type, currency, posted]
      properties:
        account: { type: string }
        name: { type: string }
        type: { type: string, enum: [asset, liability, revenue, expense, equity] }
        currency: { type: string }
        posted: { type: string, pattern: '^-?\d+$' }
        pending: { type: string, pattern: '^-?\d+$' }
        debit_total: { type: string, pattern: '^-?\d+$' }
        credit_total: { type: string, pattern: '^-?\d+$' }

    TrialBalanceReport:
      type: object
      required: [object, ledger_id, as_of, healthy, accounts, totals_by_currency]
      properties:
        object: { type: string, enum: [trial_balance] }
        ledger_id: { type: string, format: uuid }
        as_of: { type: string, format: date-time }
        healthy:
          type: boolean
          description: True when every currency nets to a zero residual.
        accounts:
          type: array
          items: { $ref: "#/components/schemas/ReportAccountRow" }
        totals_by_currency:
          type: object
          additionalProperties:
            type: object
            required: [debit, credit, residual]
            properties:
              debit: { type: string }
              credit: { type: string }
              residual: { type: string }

    BalanceSheetReport:
      type: object
      required: [object, ledger_id, as_of, healthy, accounts, by_currency]
      properties:
        object: { type: string, enum: [balance_sheet] }
        ledger_id: { type: string, format: uuid }
        as_of: { type: string, format: date-time }
        healthy: { type: boolean }
        accounts:
          type: array
          items: { $ref: "#/components/schemas/ReportAccountRow" }
        by_currency:
          type: object
          additionalProperties:
            type: object
            required: [assets, liabilities, equity, retained_earnings, total_liabilities_and_equity, residual]
            properties:
              assets: { type: string }
              liabilities: { type: string }
              equity: { type: string }
              retained_earnings: { type: string }
              total_liabilities_and_equity: { type: string }
              residual: { type: string }

    ReportPeriod:
      type: object
      required: [from, to]
      properties:
        from: { type: string, format: date-time, nullable: true }
        to: { type: string, format: date-time }

    IncomeStatementReport:
      type: object
      required: [object, ledger_id, period, accounts, by_currency]
      properties:
        object: { type: string, enum: [income_statement] }
        ledger_id: { type: string, format: uuid }
        period: { $ref: "#/components/schemas/ReportPeriod" }
        accounts:
          type: array
          items: { $ref: "#/components/schemas/ReportAccountRow" }
        by_currency:
          type: object
          additionalProperties:
            type: object
            required: [revenue, expense, net_income]
            properties:
              revenue: { type: string }
              expense: { type: string }
              net_income: { type: string }
        granularity:
          type: string
          enum: [day, week, month]
          description: Present when the request passed `granularity`.
        series:
          type: array
          description: Present when the request passed `granularity`. One bucket per period, each with the same `by_currency` shape.
          items: { $ref: "#/components/schemas/ReportBucket" }

    CashFlowReport:
      type: object
      required: [object, ledger_id, period, accounts, by_currency]
      properties:
        object: { type: string, enum: [cash_flow] }
        ledger_id: { type: string, format: uuid }
        period: { $ref: "#/components/schemas/ReportPeriod" }
        accounts:
          type: array
          items:
            type: object
            required: [account, name, currency, net_change]
            properties:
              account: { type: string }
              name: { type: string }
              currency: { type: string }
              net_change: { type: string }
        by_currency:
          type: object
          additionalProperties:
            type: object
            required: [operating, investing, financing, uncategorized, net_change]
            properties:
              operating: { type: string }
              investing: { type: string }
              financing: { type: string }
              uncategorized: { type: string }
              net_change: { type: string }
        granularity:
          type: string
          enum: [day, week, month]
          description: Present when the request passed `granularity`.
        series:
          type: array
          description: Present when the request passed `granularity`. One bucket per period, each with the same `by_currency` shape.
          items: { $ref: "#/components/schemas/ReportBucket" }

    ReportBucket:
      type: object
      required: [period_start, period_end, by_currency]
      properties:
        period_start: { type: string, format: date-time }
        period_end: { type: string, format: date-time }
        by_currency:
          type: object
          additionalProperties:
            type: object
            additionalProperties: { type: string }

    CategoryBalance:
      type: object
      required: [object, root, currency, member_count, members, posted, pending, available]
      properties:
        object: { type: string, enum: [category_balance] }
        root: { type: string, example: accounts_receivable }
        currency: { type: string, example: USDC }
        member_count: { type: integer, example: 3 }
        members:
          type: array
          items: { type: string }
          example: [accounts_receivable, accounts_receivable:acme, accounts_receivable:globex]
        posted: { type: string, pattern: '^-?\d+$' }
        pending: { type: string, pattern: '^-?\d+$' }
        available: { type: string, pattern: '^-?\d+$' }

    Organization:
      type: object
      required: [object, id, name, plan, created_at, updated_at]
      properties:
        object: { type: string, enum: [organization] }
        id: { type: string, format: uuid }
        name: { type: string }
        plan: { type: string }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Ledger:
      type: object
      required: [object, id, name, mode, created_at, updated_at]
      properties:
        object: { type: string, enum: [ledger] }
        id: { type: string, format: uuid }
        name: { type: string }
        mode: { type: string, enum: [test, live] }
        description: { type: string, nullable: true }
        archived_at: { type: string, format: date-time, nullable: true }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AccountTemplate:
      type: object
      required: [object, name, accounting_type, created_at]
      properties:
        object: { type: string, enum: [account_template] }
        name: { type: string, example: accounts_receivable }
        accounting_type: { type: string, enum: [asset, liability, revenue, expense, equity] }
        allowed_currencies:
          type: array
          items: { type: string }
        balance_non_negative: { type: boolean }
        description: { type: string, nullable: true }
        fund_classification: { type: string, enum: [client_held, operator, neutral], nullable: true }
        custody_provider: { type: string, nullable: true }
        custody_external_id: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }

    PeriodClose:
      type: object
      required: [object, id, period_start, period_end, closed_by_label, created_at]
      properties:
        object: { type: string, enum: [period_close] }
        id: { type: string, format: uuid }
        period_start: { type: string, format: date-time }
        period_end: { type: string, format: date-time }
        closed_by_label:
          type: string
          description: Who closed it, as you labelled them. Not a Kordio identity.
          example: controller@acme
        note: { type: string, nullable: true }
        reopened_at: { type: string, format: date-time, nullable: true }
        reopened_by_label: { type: string, nullable: true }
        forced:
          type: boolean
          description: True when the period was closed with `force=true` despite an imbalanced trial balance.
        forced_by_label: { type: string, nullable: true }
        forced_at: { type: string, format: date-time, nullable: true }
        trial_balance:
          type: object
          additionalProperties: true
          description: |
            The trial balance as it stood at the moment of closing:
            `as_of`, `ledger_id`, `healthy`, `accounts` and
            `totals_by_currency`, shaped as in the trial balance report.
            Returned on create and on `GET /v1/period_closes/:id`, not in
            lists or on reopen.
        created_at: { type: string, format: date-time }

    Balance:
      allOf:
        - $ref: "#/components/schemas/EnvelopeFields"
        - type: object
          required: [object, account, currency, posted, pending, available]
          properties:
            object: { type: string, enum: [balance] }
            account: { type: string, example: accounts_receivable:acme }
            currency: { type: string, example: USDC }
            posted:
              type: string
              pattern: '^-?\d+$'
              description: Signed minor units from confirmed postings, as a decimal string. Parse with a big-integer or decimal type, never a JS number.
              example: "9700000"
            pending:
              type: string
              pattern: '^-?\d+$'
              description: "Signed minor units from `pending: true` postings, as a decimal string. Parse with a big-integer or decimal type, never a JS number."
              example: "0"
            as_of:
              type: string
              format: date-time
              description: Present only on point-in-time reads (`?at=`).
            available:
              type: string
              pattern: '^-?\d+$'
              description: |
                `posted` minus every open pending outflow. Pending inflows
                never count until committed. This is the same figure the
                `overdraft_policy: none` write check uses. Decimal string;
                parse with a big-integer or decimal type, never a JS
                number.
              example: "9700000"

    Posting:
      type: object
      required: [object, account, amount, currency, direction]
      properties:
        object: { type: string, enum: [posting] }
        id: { type: integer, format: int64, example: 14829 }
        transaction:
          oneOf:
            - { type: string, format: uuid }
            - { $ref: "#/components/schemas/Transaction" }
        account:
          oneOf:
            - { type: string, example: accounts_receivable:acme }
            - { $ref: "#/components/schemas/AccountCompact" }
          description: A string id by default; an Account object when `?expand=postings.account`.
        amount:
          type: string
          pattern: '^-?\d+$'
          description: Amount in minor units, as a decimal string. Parse with a big-integer or decimal type, never a JS number. 1.00 USDC = "1000000" at 6 decimals.
          example: "9700000"
        currency: { type: string, example: USDC }
        direction:
          type: string
          enum: [debit, credit]
          example: credit
        pending:
          type: boolean
          default: false
          description: Pending postings don't move the `posted` balance until committed.
        voided_at:
          type: string
          format: date-time
          nullable: true
          description: Set when a pending posting was voided by reversing its transaction. A voided posting no longer counts toward any balance.
        tags:
          type: object
          additionalProperties: { type: string }
          example: { region: EU, department: sales }
        value_date: { type: string, format: date-time }
        reconciled_at: { type: string, format: date-time, nullable: true }
        reconciliation_reference: { type: string, nullable: true }
        running_balance:
          type: string
          pattern: '^-?\d+$'
          description: Present only on account statement entries. Posted balance after this entry.
        created_at: { type: string, format: date-time }

    AccountCompact:
      type: object
      properties:
        object: { type: string, enum: [account] }
        id: { type: string }
        type: { type: string }
        currency: { type: string }

    PostingInput:
      type: object
      required: [account, amount, currency, direction]
      properties:
        account:
          type: string
          description: Account `id` (must already exist in your tenant).
          example: cash:usd
        amount:
          oneOf:
            - { type: string, pattern: '^\d+$' }
            - { type: integer, minimum: 1 }
          description: |
            Positive amount in minor units. Accepts a decimal string
            (recommended, e.g. "10000000") or an integer on write. Stored
            as `numeric(38, 0)` so 18-decimal tokens (ETH, DAI) past
            `9.2e18` minor units are fine. Always returned as a string.
          example: "10000000"
        currency: { type: string, example: USDC }
        direction:
          type: string
          enum: [debit, credit]
          example: debit
        pending:
          type: boolean
          default: false
        tags:
          type: object
          additionalProperties: { type: string }
          description: |
            Flat string-to-string map of dimensions for reporting (department,
            region, project, etc.). Filterable via `?tags[key]=value`.
          example:
            department: sales
            region: EU

    TransactionInput:
      type: object
      required: [postings]
      properties:
        idempotency_key:
          type: string
          description: |
            Alternative to the `Idempotency-Key` header. Required if header
            absent. Charset `[A-Za-z0-9_:.-]`, max 255 bytes.
          example: pi_acme_1234_capture
          maxLength: 255
        metadata:
          type: object
          additionalProperties: true
          description: Free-form caller annotations. Mutable via PATCH.
          example:
            payment_intent: pi_acme_1234
            channel: web
            country: US
        value_date:
          type: string
          format: date-time
          description: |
            When the value transferred (vs `booking_date`, which is when
            we recorded the entry). Used by reports. Defaults to the
            booking time.
          example: "2026-05-14T10:00:00Z"
        external_refs:
          type: array
          description: |
            Identifiers of this transaction in external systems. Each
            `(rail, kind, value)` can be attached to one transaction per
            ledger; a second attempt returns `duplicate_external_ref`.
            Find a transaction by reference with
            `GET /v1/transactions/lookup`.
          items: { $ref: "#/components/schemas/ExternalRefInput" }
        conditions:
          type: array
          description: |
            Preconditions checked atomically with the write. A failed
            condition returns `precondition_failed` and writes nothing.
          items: { $ref: "#/components/schemas/TransactionCondition" }
        postings:
          type: array
          minItems: 2
          maxItems: 250
          items: { $ref: "#/components/schemas/PostingInput" }

    BulkTransactionInput:
      type: object
      required: [idempotency_key, postings]
      properties:
        idempotency_key:
          type: string
          maxLength: 255
          description: Required on every item. Charset `[A-Za-z0-9_:.-]`, max 255 bytes.
          example: cap_a
        metadata: { type: object, additionalProperties: true }
        value_date: { type: string, format: date-time }
        postings:
          type: array
          minItems: 2
          maxItems: 250
          items: { $ref: "#/components/schemas/PostingInput" }

    AccountUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1 }
        metadata: { type: object, additionalProperties: true }
        parent_id: { type: string, nullable: true }
        ledgerable_type: { type: string, nullable: true }
        ledgerable_id: { type: string, nullable: true }
        fund_classification: { type: string, enum: [client_held, operator, neutral] }
        custody_provider:
          type: string
          nullable: true
          description: Set together with `custody_external_id`, or clear both.
        custody_external_id: { type: string, nullable: true }

    ExternalRefInput:
      type: object
      required: [rail, kind, value]
      properties:
        rail: { type: string, example: ethereum }
        kind: { type: string, example: tx_hash }
        value: { type: string, example: "0xabc123" }
        metadata: { type: object, additionalProperties: true }

    ExternalRef:
      type: object
      required: [object, id, rail, ref_kind, value]
      properties:
        object: { type: string, enum: [external_ref] }
        id: { type: string }
        rail: { type: string, example: ethereum }
        ref_kind: { type: string, example: tx_hash }
        value: { type: string, example: "0xabc123" }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }

    TransactionCondition:
      type: object
      required: [account]
      description: Needs `account` plus at least one of the other fields.
      properties:
        account: { type: string, example: cash:usd }
        lock_version:
          type: integer
          description: The account's current `lock_version`. Fails if the account changed since you read it.
        min_available_balance:
          oneOf:
            - { type: string, pattern: '^-?\d+$' }
            - { type: integer }
          description: Fails if the account's available balance is below this, in minor units.
        max_available_balance:
          oneOf:
            - { type: string, pattern: '^-?\d+$' }
            - { type: integer }
          description: Fails if the account's available balance is above this, in minor units.

    Transaction:
      allOf:
        - $ref: "#/components/schemas/EnvelopeFields"
        - type: object
          required: [object, id, postings]
          properties:
            object: { type: string, enum: [transaction] }
            id: { type: string, format: uuid, example: "3061ec4e-c959-49ba-a0f6-99186a7bd5d8" }
            idempotency_key: { type: string, example: pi_acme_1234_capture }
            status:
              type: string
              enum: [pending, posted, archived]
              description: |
                `pending` while any posting is pending, `posted` once
                committed or written without pending postings, `archived`
                once reversed.
            reverses:
              type: string
              format: uuid
              nullable: true
              description: Set when this transaction reverses another.
            reversed_by:
              type: string
              format: uuid
              nullable: true
              description: Set when this transaction has been reversed.
            exchange_rate:
              type: string
              nullable: true
              description: |
                Decimal string. Present only when the transaction has
                postings in more than one currency. The rate that was
                in effect at write time. It is persisted for audit and
                restatement, never recomputed.
              example: "1.0823"
            base_currency:
              type: string
              nullable: true
              description: Currency that the exchange rate quotes from. Set with `exchange_rate`.
              example: USD
            quote_currency:
              type: string
              nullable: true
              description: Currency that the exchange rate quotes to. Set with `exchange_rate`.
              example: USDC
            metadata:
              type: object
              additionalProperties: true
              example:
                payment_intent: pi_acme_1234
                channel: web
            postings:
              type: array
              items: { $ref: "#/components/schemas/Posting" }
            external_refs:
              type: array
              items: { $ref: "#/components/schemas/ExternalRef" }
            balances:
              type: array
              items: { $ref: "#/components/schemas/Balance" }
              description: Returned only when `?expand=balances`.
            value_date: { type: string, format: date-time }
            booking_date: { type: string, format: date-time }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }

    DryRun:
      allOf:
        - $ref: "#/components/schemas/EnvelopeFields"
        - type: object
          required: [object, valid, summary]
          properties:
            object: { type: string, enum: [dry_run] }
            valid: { type: boolean, example: true }
            summary:
              type: object
              properties:
                accounts:
                  type: array
                  items: { type: string }
                totals:
                  type: object
                  description: Per-currency debits/credits.
                  additionalProperties:
                    type: object
                    properties:
                      debit: { type: string, pattern: '^-?\d+$', description: "Minor units as a decimal string. Parse with a big-integer or decimal type, never a JS number." }
                      credit: { type: string, pattern: '^-?\d+$', description: "Minor units as a decimal string. Parse with a big-integer or decimal type, never a JS number." }
                  example:
                    USDC: { debit: "10000000", credit: "10000000" }

    Event:
      allOf:
        - $ref: "#/components/schemas/EnvelopeFields"
        - type: object
          required: [object, id, type, created_at]
          properties:
            object: { type: string, enum: [event] }
            id: { type: string, format: uuid }
            type:
              type: string
              example: transaction.created
              description: |
                One of: `account.created`, `account.closed`,
                `account.classification_changed`, `transaction.created`,
                `transaction.reversal_created`, `transaction.reversed`,
                `transaction.refund_created`, `transaction.updated`,
                `transaction.committed`, `period.closed`,
                `period.closed_forced`, `period.reopened`,
                `oauth_client.created`,
                `oauth_client.secret_rotated`, `oauth_client.deleted`.

                Note: `transaction.reversal_created` fires *before*
                `transaction.reversed` so subscribers rebuilding state
                from the event tail can apply the create before the
                link. `transaction.refund_created` fires when a refund
                transaction is created; `data` includes `refunds`
                (original id) and `refund_amount`.
            livemode: { type: boolean, description: True when the event belongs to a live ledger. }
            data:
              type: object
              additionalProperties: true
              description: Event payload. Shape depends on `type`.
            resource_id: { type: string, nullable: true }
            created_at: { type: string, format: date-time }

    # Backwards-compat alias for any path that still references `List`.
    # Prefer `ListEnvelope` directly.
    List:
      $ref: "#/components/schemas/ListEnvelope"

    OAuthClientInput:
      type: object
      required: [name, mode, scopes, ledger_id]
      properties:
        name:
          type: string
          maxLength: 200
          example: ci-keys
        mode:
          type: string
          enum: [live, test]
        scopes:
          type: array
          items:
            type: string
            enum:
              - ledger:read
              - ledger:write
              - ledger:period_close
              - ledger:clients:read
              - ledger:clients:write
          example: [ledger:read, ledger:write]
        ledger_id:
          type: string
          format: uuid
          description: |
            Ledger this client is pinned to. Must match `mode`.

    OAuthClient:
      type: object
      required: [object, id, name, scopes, mode, active, created_at]
      properties:
        object: { type: string, enum: [oauth_client] }
        id:
          type: string
          description: The `client_id`, prefixed `client_`.
          example: client_3Jx9XfQwVZBfwUyZQ8H6
        name: { type: string, example: ci-keys }
        scopes:
          type: array
          items: { type: string }
        mode: { type: string, enum: [live, test] }
        ledger_id: { type: string, format: uuid, nullable: true }
        active: { type: boolean }
        last_used_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        client_secret:
          type: string
          description: Plaintext secret. Returned only on create + rotate.
        client_secret_note:
          type: string
          description: Hint to the integrator that the secret is shown once.
        previous_secret_expires_at:
          type: string
          format: date-time
          description: |
            Returned on rotate. UTC timestamp 24h in the future, until which
            the previous secret continues to authenticate at `POST /oauth/token`.

    OAuthError:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum: [invalid_request, invalid_client, invalid_grant, unauthorized_client, unsupported_grant_type, invalid_scope]
        error_description: { type: string }
        error_uri: { type: string, example: "https://docs.kordio.io/ledger/authentication#invalid_client" }
        hint: { type: string }

    ErrorResponse:
      type: object
      required: [error, livemode, request_id]
      properties:
        livemode: { type: boolean, example: false }
        request_id: { type: string, example: req_3LhM8XKx9q4hQv }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable. Stable across versions.
              enum:
                - invalid_request
                - missing_idempotency_key
                - unauthorized
                - forbidden
                - insufficient_scope
                - invalid_client
                - invalid_grant
                - invalid_scope
                - not_found
                - unbalanced
                - currency_mismatch
                - unknown_account
                - already_exists
                - already_reversed
                - immutable_field
                - insufficient_funds
                - period_closed
                - period_close_imbalanced
                - account_balance_nonzero
                - account_closed
                - precondition_failed
                - duplicate_external_ref
                - partial_refund_exceeds_original
                - refund_currency_required
                - rotation_in_progress
                - account_template_unknown
                - plan_required
                - invalid_state
                - in_progress
                - unsupported_grant_type
                - rate_limited
                - internal_error
                - unavailable
            message:
              type: string
              description: Human-readable one-liner.
            hint:
              type: string
              description: Actionable next step.
            param:
              type: string
              nullable: true
              description: Which request field caused the failure.
            details:
              type: object
              additionalProperties: true
              description: Code-specific structured detail (e.g. `by_currency` for unbalanced).
            docs_url:
              type: string
              format: uri
            request_id:
              type: string
              description: Echoes the top-level `request_id`. Stripe-compatible placement.

paths:

  # ===========================================================================
  # System
  # ===========================================================================

  /.well-known/oauth-authorization-server:
    get:
      tags: [System]
      summary: RFC 8414 authorization server metadata
      security: []
      description: |
        Discovery document for OAuth clients. Tells tooling where the
        token endpoint is, what grant types and scopes are supported,
        what signing algorithms we use.
      responses:
        "200":
          description: Server metadata
          content:
            application/json:
              examples:
                default:
                  value:
                    issuer: https://api.kordio.io/ledger
                    token_endpoint: https://api.kordio.io/oauth/token
                    grant_types_supported: [client_credentials]
                    response_types_supported: [token]
                    scopes_supported: [ledger:read, ledger:write, ledger:period_close, ledger:admin, ledger:clients:read, ledger:clients:write]
                    token_endpoint_auth_methods_supported: [client_secret_basic, client_secret_post]
                    token_endpoint_auth_signing_alg_values_supported: [HS256]
                    service_documentation: https://docs.kordio.io/ledger/auth

  # ===========================================================================
  # Authentication
  # ===========================================================================

  /oauth/token:
    post:
      tags: [Authentication]
      summary: Issue an access token
      security: []
      description: |
        RFC 6749 section 4.4 client_credentials. Authenticate with HTTP Basic
        (`client_id:client_secret`) **or** with `client_id` and
        `client_secret` in the form body.

        Tokens are HS256 JWTs valid for one hour. They carry
        `workspace_id`, `mode`, the granted `scope`, and `ledger_id`
        when the client is pinned to a ledger. Decode them at jwt.io to
        inspect.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                scope:
                  type: string
                  description: Space-separated subset of granted scopes. Optional; defaults to all.
                  example: ledger:read ledger:write
                client_id: { type: string }
                client_secret: { type: string }
            examples:
              basic-auth:
                summary: Recommended, credentials via HTTP Basic
                value:
                  grant_type: client_credentials
              form-post:
                summary: Credentials in the body
                value:
                  grant_type: client_credentials
                  client_id: client_xxxxxxxxxxxxxxxxxxxxxxxx
                  client_secret: sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in]
                properties:
                  access_token: { type: string, description: HS256 JWT }
                  token_type: { type: string, enum: [Bearer] }
                  expires_in: { type: integer, example: 3600 }
                  scope: { type: string }
              examples:
                default:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    token_type: Bearer
                    expires_in: 3600
                    scope: ledger:read ledger:write
        "401":
          description: invalid_client (bad credentials or disabled client)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }
              examples:
                bad-credentials:
                  value: { error: invalid_client, error_description: client credentials are invalid }
                disabled:
                  value: { error: invalid_client, error_description: client is disabled }
        "422":
          description: invalid_request / unsupported_grant_type / invalid_scope
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }

  # ===========================================================================
  # Accounts
  # ===========================================================================

  /ledger/v1/accounts:
    get:
      tags: [Accounts]
      summary: List accounts
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - name: type
          in: query
          required: false
          schema: { type: string, enum: [asset, liability, revenue, expense, equity] }
          description: Filter by accounting type.
        - name: currency
          in: query
          required: false
          schema: { type: string }
          description: Filter by currency ticker.
        - name: kind
          in: query
          required: false
          schema: { type: string, enum: [standard, restricted] }
          description: Filter by `account_kind`.
        - name: counterparty_ref
          in: query
          required: false
          schema: { type: string }
          description: Filter by `counterparty_ref`.
        - name: parent_id
          in: query
          required: false
          schema: { type: string }
          description: Filter to direct children of this account.
        - name: ledgerable_type
          in: query
          required: false
          schema: { type: string }
        - name: ledgerable_id
          in: query
          required: false
          schema: { type: string }
        - name: fund_classification
          in: query
          required: false
          schema: { type: string, enum: [client_held, operator, neutral] }
          description: Filter by `fund_classification`.
        - name: custody_provider
          in: query
          required: false
          schema: { type: string }
          description: Filter to accounts tagged with this `custody_provider`.
      responses:
        "200":
          description: A page of accounts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/List" }
              examples:
                default:
                  value:
                    object: list
                    data:
                      - { object: account, id: accounts_receivable:acme, name: "Acme payable", type: liability, currency: USDC, currency_decimals: 6, currency_kind: stablecoin, unknown_currency: false, metadata: {}, created_at: "2026-05-14T10:23:45.123456Z" }
                      - { object: account, id: revenue:subscriptions, name: "Fee revenue", type: revenue, currency: USDC, currency_decimals: 6, currency_kind: stablecoin, unknown_currency: false, metadata: {}, created_at: "2026-05-14T09:11:02.000000Z" }
                    has_more: false
                    next_cursor: null
    post:
      tags: [Accounts]
      summary: Create an account
      security:
        - oauth2_write: [ledger:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AccountInput" }
            examples:
              merchant-payable:
                value: { id: accounts_receivable:acme, name: "Acme payable", type: liability, currency: USDC }
              custom-currency:
                summary: Arbitrary currency string (loyalty points etc.)
                value: { id: points:acme, name: "Acme points", type: liability, currency: POINTS }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
              examples:
                default:
                  value:
                    data: { object: account, id: accounts_receivable:acme, name: "Acme payable", type: liability, currency: USDC, currency_decimals: 6, currency_kind: stablecoin, unknown_currency: false, metadata: {}, created_at: "2026-05-14T10:23:45.123456Z" }
                    livemode: false
                    request_id: req_3LhM8XKx9q4hQv
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409":
          description: An account with this `id` already exists in your tenant.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                default:
                  value:
                    error:
                      code: already_exists
                      message: an account with this id already exists
                      param: id
                      hint: pick a different id, or PATCH the existing account to update its metadata
                      docs_url: https://docs.kordio.io/ledger/errors#already_exists
        "422":
          description: invalid_request (missing or malformed fields).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                missing-name:
                  value:
                    error:
                      code: invalid_request
                      message: account is invalid
                      hint: name is required and must be a non-empty string
                      details: { fields: { name: ["can't be blank"] } }
                      docs_url: https://docs.kordio.io/ledger/errors#invalid_request

  /ledger/v1/accounts/{id}:
    get:
      tags: [Accounts]
      summary: Get an account
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Accounts]
      summary: Update an account
      description: |
        Updates the mutable fields of an account. `id`, `type`,
        `currency` and the overdraft settings cannot change; other
        fields in the body are ignored. A change to
        `fund_classification`, `custody_provider` or
        `custody_external_id` emits `account.classification_changed`.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AccountUpdate" }
            examples:
              rename:
                value: { name: "Acme receivable", metadata: { tier: gold } }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: "`precondition_failed`: the account was modified concurrently. Retry."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422":
          description: "`invalid_request`: a blank name, non-object metadata, an unknown classification, or only one of the custody pair."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /ledger/v1/accounts/{id}/close:
    post:
      tags: [Accounts]
      summary: Close an account
      description: |
        Permanently closes an account. Both its posted and pending
        balance must be zero, or the call returns
        `409 account_balance_nonzero`. A closed account rejects new
        postings with `account_closed`. Closing an account that is
        already closed returns it unchanged. Emits `account.closed`.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [closed_by_label]
              properties:
                closed_by_label:
                  type: string
                  description: Person or system closing the account. Recorded for audit.
                  example: controller@acme
      responses:
        "200":
          description: Closed (or already closed)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: account_balance_nonzero
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                default:
                  value:
                    error:
                      code: account_balance_nonzero
                      message: account balance must be zero to close
                      details: { account: "accounts_receivable:acme", posted: 500, pending: 0, currency: USDC }
                      docs_url: https://docs.kordio.io/ledger/errors#account_balance_nonzero
        "422":
          description: "`invalid_request`: `closed_by_label` is missing."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /ledger/v1/accounts/{id}/category_balance:
    get:
      tags: [Accounts, Reports]
      summary: Get the rolled-up balance for an account category
      description: |
        Sums the balance of the addressed account and every account
        below it through `parent_id`, at any depth. All members must
        share one currency; a mixed-currency subtree returns
        `invalid_request`.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable }
      responses:
        "200":
          description: Rolled-up category balance
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CategoryBalance" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Error" }

  /ledger/v1/accounts/{id}/balance:
    get:
      tags: [Accounts, Reports]
      summary: Get an account's balance (current or point-in-time)
      description: |
        Pass `?at=<ISO 8601 timestamp>` for a historical balance computed
        from `value_date` on each posting; the response then carries
        `as_of`. Without `at`, returns the current balance from the
        balance engine.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
        - name: at
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: ISO 8601 instant. Balance as of that moment.
          example: "2026-04-15T00:00:00Z"
      responses:
        "200":
          description: Current posted + pending balance
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Balance" }
              examples:
                default:
                  value:
                    object: balance
                    account: accounts_receivable:acme
                    currency: USDC
                    posted: "9700000"
                    pending: "0"
                    available: "9700000"
        "404": { $ref: "#/components/responses/NotFound" }

  /ledger/v1/accounts/{id}/statement:
    get:
      tags: [Accounts, Reports]
      summary: Account statement for a period
      description: |
        Opening balance at `from`, every posting in `[from, to)` ordered
        by `value_date` ascending, closing balance at `to`. The auditor's
        per-account view.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Inclusive lower bound on `value_date`.
          example: "2026-04-01T00:00:00Z"
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: Exclusive upper bound on `value_date`. Defaults to now.
          example: "2026-05-01T00:00:00Z"
        - name: limit
          in: query
          schema: { type: integer, default: 500, minimum: 1, maximum: 5000 }
      responses:
        "200":
          description: Statement
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountStatement" }
              examples:
                default:
                  value:
                    object: account_statement
                    account: accounts_receivable:acme
                    currency: USDC
                    period: { from: "2026-04-01T00:00:00Z", to: "2026-05-01T00:00:00Z" }
                    opening_balance: { posted: "0", pending: "0", currency: USDC }
                    closing_balance: { posted: "9700000", pending: "0", currency: USDC }
                    entries:
                      - { object: posting, id: 1, account: accounts_receivable:acme, amount: "9700000", currency: USDC, direction: credit, pending: false, tags: {}, running_balance: "9700000", value_date: "2026-04-15T10:00:00Z", created_at: "2026-04-15T10:00:00Z" }
                    entry_count: 1
                    truncated: false
        "404": { $ref: "#/components/responses/NotFound" }

  /ledger/v1/accounts/{id}/postings:
    get:
      tags: [Accounts, Postings]
      summary: List postings on an account
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, example: accounts_receivable:acme }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - name: tags
          in: query
          style: deepObject
          explode: true
          schema: { type: object, additionalProperties: { type: string } }
          description: |
            Filter by posting tags. Example: `?tags[region]=EU&tags[department]=sales`.
            All clauses ANDed.
      responses:
        "200":
          description: A page of postings, newest first
          content:
            application/json:
              schema: { $ref: "#/components/schemas/List" }

  # ===========================================================================
  # Transactions
  # ===========================================================================

  /ledger/v1/transactions:
    get:
      tags: [Transactions]
      summary: List transactions
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Expand" }
        - name: metadata
          in: query
          style: deepObject
          explode: true
          schema: { type: object, additionalProperties: { type: string } }
          description: |
            Filter by metadata values. Example:
            `?metadata[payment_intent]=pi_acme_1234`.
        - name: account
          in: query
          schema: { type: string }
          description: Only transactions with a posting on this account.
        - name: currency
          in: query
          schema: { type: string }
          description: Only transactions with a posting in this currency.
        - name: amount_gte
          in: query
          schema: { type: integer }
          description: Only transactions with a posting of at least this amount, in minor units.
        - name: amount_lte
          in: query
          schema: { type: integer }
          description: Only transactions with a posting of at most this amount, in minor units.
        - name: value_date_from
          in: query
          schema: { type: string, format: date-time }
          description: Inclusive lower bound on `value_date`.
        - name: value_date_to
          in: query
          schema: { type: string, format: date-time }
          description: Exclusive upper bound on `value_date`.
        - name: reversed
          in: query
          schema: { type: boolean }
          description: "`true` for reversed transactions only, `false` for unreversed only. Omit for both."
        - name: status
          in: query
          schema: { type: string, enum: [pending, posted, archived] }
        - name: ref_rail
          in: query
          schema: { type: string }
          description: Only transactions with an external ref on this rail.
        - name: ref_kind
          in: query
          schema: { type: string }
        - name: ref_value
          in: query
          schema: { type: string }
        - name: include_total
          in: query
          schema: { type: boolean, default: false }
          description: Adds `total`, the count of all matching transactions.
      responses:
        "200":
          description: A page of transactions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/List" }
    post:
      tags: [Transactions]
      summary: Create a transaction
      description: |
        Write a balanced set of postings, at most 250. Replays of the
        same `Idempotency-Key` return the original transaction with
        status 200. A replay that arrives while the original is still
        being applied returns `409 in_progress`; retry with the same key.

        Set `?dry_run=true` (or `"dry_run": true` in the body) to
        validate without writing: no idempotency key required, no events
        emitted, no balance changes. Dry runs answer `200`.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/Expand" }
        - name: dry_run
          in: query
          required: false
          schema: { type: boolean, default: false }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TransactionInput" }
            examples:
              capture-usdc:
                summary: Canonical USDC capture (3% fee split)
                value:
                  metadata: { payment_intent: pi_acme_1234, channel: web }
                  postings:
                    - { account: cash:usd, amount: "10000000", currency: USDC, direction: debit }
                    - { account: accounts_receivable:acme,    amount: "9700000", currency: USDC, direction: credit }
                    - { account: revenue:subscriptions,              amount: "300000", currency: USDC, direction: credit }
              capture-with-swap:
                summary: BTC inflow swapped to USDC via SwapKit clearing
                value:
                  metadata: { payment_intent: pi_acme_btc_001, swap_provider: swapkit }
                  postings:
                    - { account: cash:btc,      amount: "500000",   currency: BTC,  direction: debit }
                    - { account: fx_pool:btc,              amount: "500000",   currency: BTC,  direction: credit }
                    - { account: fx_pool:usdc,             amount: "30000000", currency: USDC, direction: debit }
                    - { account: accounts_receivable:acme,    amount: "29100000", currency: USDC, direction: credit }
                    - { account: revenue:subscriptions,              amount: "900000", currency: USDC, direction: credit }
              payout:
                summary: Weekly payout to merchant
                value:
                  idempotency_key: payout_acme_w1
                  metadata: { merchant: acme, rail: onchain, batch: "acme-w1" }
                  postings:
                    - { account: accounts_receivable:acme,         amount: "5000000", currency: USDC, direction: debit }
                    - { account: accounts_payable:onchain:acme, amount: "5000000", currency: USDC, direction: credit }
      responses:
        "200":
          description: Replayed (same `Idempotency-Key` as a prior call), or a dry run.
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/Transaction" }
                  - { $ref: "#/components/schemas/DryRun" }
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
              examples:
                created:
                  summary: Normal create
                  value:
                    object: transaction
                    id: "3061ec4e-c959-49ba-a0f6-99186a7bd5d8"
                    idempotency_key: pi_acme_1234_capture
                    reverses: null
                    reversed_by: null
                    metadata: { payment_intent: pi_acme_1234 }
                    postings:
                      - { object: posting, id: 1, transaction: "3061ec4e-c959-49ba-a0f6-99186a7bd5d8", account: cash:usd, amount: "10000000", currency: USDC, direction: debit, pending: false, created_at: "2026-05-14T15:53:31.298048Z" }
                      - { object: posting, id: 2, transaction: "3061ec4e-c959-49ba-a0f6-99186a7bd5d8", account: accounts_receivable:acme,    amount: "9700000", currency: USDC, direction: credit, pending: false, created_at: "2026-05-14T15:53:31.298048Z" }
                      - { object: posting, id: 3, transaction: "3061ec4e-c959-49ba-a0f6-99186a7bd5d8", account: revenue:subscriptions,              amount: "300000", currency: USDC, direction: credit, pending: false, created_at: "2026-05-14T15:53:31.298048Z" }
                    created_at: "2026-05-14T15:53:31.291591Z"
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409":
          description: "`in_progress`, `period_closed`, `precondition_failed`, `duplicate_external_ref`, or `account_closed`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422": { $ref: "#/components/responses/Unbalanced" }
        "503":
          description: "`unavailable`: the balance engine could not be reached. Retry with the same idempotency key."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /ledger/v1/transactions/bulk:
    post:
      tags: [Transactions]
      summary: Create many transactions in one call
      description: |
        Each item carries its own `idempotency_key`. The header
        `Idempotency-Key` is ignored on this endpoint; bulk callers
        must inline keys.

        Returns a `bulk_result` with one entry per input in the same
        order. Status per entry: `created`, `replayed`, or `error`.
        On any failure the response status is `207 Multi-Status` (or
        `201` if every item succeeded).

        Without `atomic`, items succeed or fail independently: an item
        rejected for `insufficient_funds` does not affect the others.

        With `"atomic": true`, the batch is all or nothing. If any item
        fails, nothing is written; the failing items carry their own
        error and every other item carries `invalid_request` ("atomic
        batch aborted"). An atomic batch carries at most 250 postings
        across all of its transactions.
      security:
        - oauth2_write: [ledger:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transactions]
              properties:
                atomic: { type: boolean, default: false }
                transactions:
                  type: array
                  minItems: 1
                  description: An empty array returns `422 invalid_request` with `param` `transactions`.
                  items: { $ref: "#/components/schemas/BulkTransactionInput" }
            examples:
              three-captures:
                value:
                  transactions:
                    - idempotency_key: cap_a
                      postings:
                        - { account: cash:usd, amount: "10000000", currency: USDC, direction: debit }
                        - { account: accounts_receivable:acme,    amount: "10000000", currency: USDC, direction: credit }
                    - idempotency_key: cap_b
                      postings:
                        - { account: cash:usd, amount: "5000000", currency: USDC, direction: debit }
                        - { account: accounts_receivable:acme,    amount: "5000000", currency: USDC, direction: credit }
      responses:
        "201":
          description: All items created
          content:
            application/json:
              examples:
                default:
                  value:
                    object: bulk_result
                    atomic: false
                    partial_failure: false
                    results:
                      - { idempotency_key: cap_a, status: created, transaction: { object: transaction, id: "...", ... } }
                      - { idempotency_key: cap_b, status: created, transaction: { object: transaction, id: "...", ... } }
        "207":
          description: Partial failure (some items failed).
          content:
            application/json:
              examples:
                partial:
                  value:
                    object: bulk_result
                    atomic: false
                    partial_failure: true
                    results:
                      - { idempotency_key: cap_a, status: created, transaction: { object: transaction, id: "..." } }
                      - idempotency_key: cap_b
                        status: error
                        error:
                          code: unbalanced
                          message: debits and credits must net to zero per currency

  /ledger/v1/transactions/lookup:
    get:
      tags: [Transactions]
      summary: Look up a transaction by external reference
      description: |
        Returns the transaction that previously recorded a given
        external reference (e.g. a blockchain tx hash, a custody
        deposit id, a settlement confirmation id). All three of `rail`,
        `kind`, `value` are required and form the lookup tuple.

        Use this to verify whether an external event has already been
        booked before deciding to write a new transaction.
      parameters:
        - name: rail
          in: query
          required: true
          schema: { type: string }
          example: ethereum
          description: External system / network identifier.
        - name: kind
          in: query
          required: true
          schema: { type: string }
          example: tx_hash
          description: Type of identifier within the rail.
        - name: value
          in: query
          required: true
          schema: { type: string }
          example: "0xabc123..."
          description: The identifier value.
        - { $ref: "#/components/parameters/Expand" }
      responses:
        "200":
          description: Matching transaction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "422":
          description: Missing required query parameters (`invalid_request`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404": { $ref: "#/components/responses/NotFound" }

  /ledger/v1/transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get a transaction
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/Expand" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Transactions]
      summary: Update transaction metadata
      description: |
        Metadata is the only mutable field on a transaction. Sending
        `postings`, `idempotency_key`, `reverses` or `reversed_by`
        returns `409 immutable_field`. Values are stored as strings. To
        correct posted data, write a reversal.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata: { type: object, additionalProperties: true }
                merge:
                  type: boolean
                  default: true
                  description: When true (default), merge with existing metadata. When false, replace.
            examples:
              add-tag:
                value:
                  metadata: { reviewed_by: tom, notes: "manual capture" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Immutable" }
    delete:
      tags: [Transactions]
      summary: Not allowed, the ledger is append-only
      description: |
        Returns `405` with a hint pointing at `/reverse`. This is
        intentional: corrections must be auditable transactions, not
        silent deletes.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "405":
          description: Method not allowed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                default:
                  value:
                    error:
                      code: invalid_request
                      message: the ledger is append-only
                      hint: "to undo a transaction, POST /v1/transactions/:id/reverse"
                      docs_url: https://docs.kordio.io/ledger/errors#invalid_request

  /ledger/v1/transactions/{id}/reverse:
    post:
      tags: [Transactions]
      summary: Reverse a transaction
      description: |
        Creates a new transaction with each posted leg's direction
        flipped and writes a bidirectional link via `reverses` /
        `reversed_by`. The original moves to `status: archived`.

        Pending postings on the original are not flipped. They are
        voided: their hold is released, they get a `voided_at`, and they
        no longer count toward any balance. A reversed transaction can
        no longer be committed.

        If the original's `value_date` falls in a closed period, the
        reversal is dated now and carries `_reverses_value_date` in its
        metadata. Idempotent on `Idempotency-Key`: a replay returns the
        existing reversal with status 200.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/Expand" }
      responses:
        "200":
          description: Idempotency replay (the existing reversal is returned)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "201":
          description: Reversal created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: already_reversed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                default:
                  value:
                    error:
                      code: already_reversed
                      message: transaction already has a reversal
                      param: id
                      hint: fetch the existing reversal via GET /v1/transactions/:id and inspect reversed_by
                      docs_url: https://docs.kordio.io/ledger/errors#already_reversed

  /ledger/v1/transactions/{id}/commit:
    post:
      tags: [Transactions]
      summary: Commit pending postings
      description: |
        Finalizes every `pending: true` posting on a transaction and
        moves it to `status: posted`. Committing a transaction that is
        already posted returns it unchanged, without re-emitting events.
        A reversed transaction cannot be committed: its pending postings
        were voided by the reversal, and the call returns
        `409 invalid_state`.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/Expand" }
      responses:
        "200":
          description: Committed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: invalid_state (the transaction was reversed)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                default:
                  value:
                    error:
                      code: invalid_state
                      message: a reversed transaction cannot be committed
                      param: id
                      docs_url: https://docs.kordio.io/ledger/errors#invalid_state

  /ledger/v1/transactions/{id}/refund:
    post:
      tags: [Transactions]
      summary: Refund a transaction (partial or full)
      description: |
        Books an inverse transaction for the requested amount,
        scaling every leg of the original (including legs in other
        currencies) by `amount / gross_in(currency)`. Banker's
        rounding; residual on the largest leg per currency, so the
        new transaction is balanced per currency.

        `currency` is the base currency the caller is refunding. For
        single-currency originals it may be omitted and is inferred.
        For multi-currency originals it is **required**; omitting it
        returns `refund_currency_required` (422).

        Sum of prior refunds is tracked per currency: a 100% USDC
        refund does not block a later 100% BTC refund on a USDC+BTC
        original. Refunds that would exceed the original's remaining
        amount in the requested currency return
        `partial_refund_exceeds_original` (422). Idempotent on
        `Idempotency-Key`.
      security:
        - oauth2_write: [ledger:write]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/Expand" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  oneOf:
                    - { type: string, pattern: '^\d+$' }
                    - { type: integer, minimum: 1 }
                  description: Refund amount in minor units. Accepts a positive decimal string (recommended) or an integer on write.
                  example: "5000000"
                currency:
                  type: string
                  description: |
                    The base currency to refund. Optional for
                    single-currency originals (inferred). Required
                    for multi-currency originals; omitting returns
                    `refund_currency_required` (422).
                  example: USDC
                idempotency_key:
                  type: string
                  description: Optional body alternative to the `Idempotency-Key` header. Header wins.
                metadata:
                  type: object
                  additionalProperties: true
            examples:
              partial:
                value:
                  amount: "5000000"
                  idempotency_key: refund_pi_acme_1234_partial_01
                  metadata: { reason: "customer requested partial refund" }
      responses:
        "201":
          description: Refund transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "200":
          description: Idempotency replay (original refund returned)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Invalid refund amount, or refund would exceed original
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                exceeds:
                  value:
                    error:
                      code: partial_refund_exceeds_original
                      message: refund amount exceeds the remaining refundable amount
                      hint: fetch the original via GET /v1/transactions/:id to see the remaining refundable balance
                      docs_url: https://docs.kordio.io/ledger/errors#partial_refund_exceeds_original
                currency_required:
                  value:
                    error:
                      code: refund_currency_required
                      message: currency is required when the original has postings in multiple currencies
                      hint: "pass `currency` matching one of: USDC, BTC"
                      docs_url: https://docs.kordio.io/ledger/errors#refund_currency_required

  /ledger/v1/transactions/{id}/refunds:
    get:
      tags: [Transactions]
      summary: List refunds of a transaction
      description: |
        Every refund booked against the transaction, newest first.
        Refunds are the transactions whose `metadata._refund_of` is
        this id.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Expand" }
      responses:
        "200":
          description: A page of refund transactions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Transaction" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================================
  # Events
  # ===========================================================================

  /ledger/v1/events:
    get:
      tags: [Events]
      summary: List events
      description: |
        Same payloads webhooks deliver. Use for backfill, debugging, or
        as a polling alternative to webhooks.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - name: type
          in: query
          schema: { type: string }
          example: transaction.created
        - name: resource_id
          in: query
          schema: { type: string }
        - name: since
          in: query
          description: |
            Restrict results to events inserted at or after this point.
            Accepts an ISO 8601 timestamp (`2026-05-27T00:00:00Z`) or a
            relative duration string with unit suffix `s`, `m`, `h`, or
            `d` (e.g. `24h`, `7d`, `15m`). Unparseable values are
            silently ignored.
          schema: { type: string }
          example: 24h
      responses:
        "200":
          description: A page of events, newest first
          content:
            application/json:
              schema: { $ref: "#/components/schemas/List" }

  /ledger/v1/events/{id}:
    get:
      tags: [Events]
      summary: Fetch one event
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================================
  # Reports
  # ===========================================================================

  /ledger/v1/reports/trial_balance:
    get:
      tags: [Reports]
      summary: Trial balance as of a timestamp
      description: |
        Every account's balance, with per-currency debit/credit totals.
        A healthy ledger has `totals_by_currency[X].residual == 0` for
        every currency. The `healthy` boolean rolls this up.

        Uses `value_date` for the cutoff. Pass `?at=` for a historical
        view; omit for current.
      parameters:
        - name: at
          in: query
          schema: { type: string, format: date-time }
          example: "2026-04-30T23:59:59Z"
        - name: currency
          in: query
          schema: { type: string }
          description: Filter to a single currency.
        - name: include_zero
          in: query
          schema: { type: boolean, default: false }
          description: Include accounts with zero posted + pending.
      responses:
        "200":
          description: Trial balance report
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TrialBalanceReport" }
              examples:
                healthy:
                  value:
                    object: trial_balance
                    as_of: "2026-05-14T20:53:37.027279Z"
                    ledger_id: 446ea1a3-3bcc-4c8c-9f4f-9ef8e1468c4e
                    healthy: true
                    totals_by_currency:
                      USDC: { debit: "41372114398", credit: "41372114398", residual: "0" }
                    accounts:
                      - { account: accounts_receivable:acme, name: "Acme payable", type: liability, currency: USDC, posted: "9700000", pending: "0", debit_total: "0", credit_total: "9700000" }
                      - { account: revenue:subscriptions, name: "Fee revenue", type: revenue, currency: USDC, posted: "300000", pending: "0", debit_total: "0", credit_total: "300000" }

  /ledger/v1/reports/balance_sheet:
    get:
      tags: [Reports]
      summary: Balance sheet (assets / liabilities / equity)
      description: |
        Point-in-time balance sheet computed against `value_date`. Pass
        `?at=` for a historical view; omit for current. Revenue minus
        expense is reported as `retained_earnings`.
      parameters:
        - name: at
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
[...]
